[submodule "wire-cell-gen-kokkos"]
	path = wire-cell-gen-kokkos
	url = https://github.com/WireCell/wire-cell-gen-kokkos
[submodule "wire-cell-gen-sycl"]
	path = wire-cell-gen-sycl
	url = https://github.com/WireCell/wire-cell-gen-sycl
[submodule "wire-cell-gen-omp"]
	path = wire-cell-gen-omp
	url = https://github.com/WireCell/wire-cell-gen-omp
